<div ng-controller="mainController">
<a href="#/main">Cancel</a>
<h3>Put the question and options here:</h3>

<div ng-show="error">
	<p><span ng-bind="error.err.errors.question.message"></span></p>
	
	<p><span ng-bind="error.err.errors.option1.message"></span></p>
	<p><span ng-bind="error.err.errors.option2.message"></span></p>
	<p><span ng-bind="error.err.errors.option3.message"></span></p>
	<p><span ng-bind="error.err.errors.option4.message"></span></p>
</div>

<div ng-show="error">
	<p><span ng-bind="error.errors.question.message"></span></p>
	
	<p><span ng-bind="error.errors.option1.message"></span></p>
	<p><span ng-bind="error.errors.option2.message"></span></p>
	<p><span ng-bind="error.errors.option3.message"></span></p>
	<p><span ng-bind="error.errors.option4.message"></span></p>
</div>


<form class="container col s6 m6 l6" ng-submit="createSurvey(newSurvey, currentUser)">
	<p>Question
		<input type="text" ng-model="newSurvey.question" required>
	</p>
	<p>
		Option 1
		<input type="text" ng-model="newSurvey.option1" required>
	</p>
	<p>
		Option 2
		<input type="text" ng-model="newSurvey.option2" required>
	</p>
	<p>
		Option 3
		<input type="text" ng-model="newSurvey.option3" required>
	</p>
	<p>
		Option 4
		<input type="text" ng-model="newSurvey.option4"required>
	</p>
	<button>Create Poll</button>
</form>

</div>